main {
  background-color: lightblue;
}
#title {font-family: Arial}

body {
  background-color: red;
}
img {display:block; max-width: 100%; height:auto; }

#img-caption {
  font-style: 
}
.center {display: flex;
    justify-content: center;
    align-items: center; }

a:link {
   text-decoration: none;
  color: red;